# MySQL Configuration
#
# Launch gmysql backend
launch+=gmysql

# gmysql parameters
gmysql-host={{ gmysql_host }}
gmysql-port=
gmysql-dbname={{ gmysql_dbname }}
gmysql-user={{ gmysql_user }}
gmysql-password={{ gmysql_password }}
gmysql-dnssec={{ gmysql_dnssec }}
# gmysql-socket=
