# MySQL Configuration
#
# Launch gmysql backend
launch+=gmysql

# gmysql parameters
gmysql-host={{ pdns_gmysql_host }}
gmysql-port=
gmysql-dbname={{ pdns_gmysql_dbname }}
gmysql-user={{ pdns_gmysql_user }}
gmysql-password={{ pdns_gmysql_password }}
gmysql-dnssec={{ pdns_gmysql_dnssec }}
# gmysql-socket=
