keystone	keystone/auth-token	{{ auth_token }}	
keystone	keystone/admin-password	{{ admin_password }}	
keystone	keystone/admin-password-confirm	{{ admin_password }}	
keystone	keystone/admin-user	string	{{ admin_user }}
keystone	keystone/admin-tenant-name	string	{{ admin_project_name }}
keystone	keystone/region-name	string	{{ region_name }}
keystone	keystone/endpoint-ip	string	
keystone	keystone/register-endpoint	boolean	false
keystone	keystone/admin-email	string	{{ admin_email }}
keystone	keystone/admin-role-name	string	{{ admin_role_name }}
keystone	keystone/configure_db	boolean	false
keystone	keystone/create-admin-tenant	boolean	false
