{% for user in item.users %}
{% if user.get('dc') %}
dn: uid={{ user.uid }},ou=ServiceAdmin,dc={{ user.dc }},{{ basedn }}
{% else %}
dn: uid={{ user.uid }},ou=People,{{ basedn }}
{% endif %}
cn: {{ user.cn }}
objectClass: inetOrgPerson
objectClass: posixAccount
description: default
{% if user.get('desc') %}
description: {{ user.desc }}
businessCategory: {{ user.desc }}
{% endif %}
businessCategory: default
userPassword: {{ user.password }}
uidNumber: {{ user.uidNumber }}
gidNumber: {{ user.gidNumber }}
sn: {{ user.sn }}
{% if user.get('homeDirectory') %}
homeDirectory: {{ user.homeDirectory }}
{% else %}
homeDirectory: /home/{{ user.uid }}
{% endif %}
mail: {{ user.uid }}@{{ domain }}
uid: {{ user.uid }}

{% endfor %}
